<div class="auth-container">

  <!-- LEFT -->
  <div class="auth-left">
    <img src="/images/11879344_Checklist.jpg">
    
  <h4>Task Manager</h4>
  <p>Organize and track your tasks easily</p>
  </div>

  <!-- RIGHT -->
  <div class="auth-right">

    <div class="auth-title">Login to your account</div>

    <form action="/auth/login" method="POST">

      <input type="email" name="email" class="form-control" placeholder="Email" required>

      <input type="password" name="password" class="form-control" placeholder="Password" required>

      <button class="btn btn-success btn-auth w-100">Login</button>

    </form>

    <div class="auth-link">
      Don’t have an account?
      <a href="/auth/register">Register</a>
    </div>

  </div>

</div>